@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&family=Maven+Pro:wght@500;700&family=Mulish:wght@400;600&family=Red+Hat+Display:wght@400&display=swap');
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  background: var(--background);
  color: var(--foreground);
  margin:0;
  padding:0;
}

.custom-tabs-list::before {
  display: none !important;
}
.custom-tab[data-active] {
  background-color: #9B87F6 !important;
  color: #fff !important;
}